.start-screen {
	width: 480px;
	height: 460px;
	background: #c2f5ff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	border-radius: 12px;

	&__header {
		color: #004980;
		font-size: 40px;
		width: 208px;
		text-align: center;
	}
}
