.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(#000, 30%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;

	&__content-box {
		height: 480px;
		width: 459px;
		background: #c2f5ff;
		color: #004980;
		border-radius: 12px;
		padding: 32px 0 48px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 91px;
		height: 91px;
	}

	&__title {
		font-size: 40px;
	}

	&__time {
		font-size: 64px;

		&-title {
			font-size: 24px;
		}

		&-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: black;
		}
	}
}
