@import './reset';

@font-face {
	font-family: SkyEng;
	src: url('../../public/stratosskyengweb-regular.woff2') format('woff2'); /* все современные браузеры */
}

body {
	font-family: SkyEng, Arial, Helvetica, sans-serif;
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: flex-start;
	background: #004980;
	color: #0080c1;
}

.main {
	width: 900px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0 50px;
}

.start-screen {
	width: 480px;
	height: 460px;
	background: #c2f5ff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
	border-radius: 12px;

	&__header {
		color: #004980;
		font-size: 40px;
		width: 208px;
		text-align: center;
	}

	&__difficult-box {
		display: flex;
		gap: 24px;
	}

	&__difficult-button {
		background: #fff;
		width: 98px;
		height: 98px;
		border-radius: 12px;
		font-size: 64px;
		color: #0080c1;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		cursor: pointer;

		&--active {
			position: absolute;
			width: 100%;
			height: 100%;
			border: 5px solid #0080c1;
			border-radius: 12px;
		}
	}

	&__start-button {
		width: 246px;
		height: 50px;
		line-height: 50px;
		background: #7ac100;
		color: #fff;
		font-size: 24px;
		border-radius: 12px;
	}
}

.game-screen {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #fff;
	}

	.timer {
		display: flex;
		flex-direction: column;

		&__titles {
			display: flex;
			justify-content: flex-end;
			font-size: 16px;
		}

		&__title {
			width: 50%;
			text-align: right;

			&:not(:last-child) {
				padding-right: 8px;
			}
		}

		&__digits {
			font-size: 64px;
			margin-right: -4px;
		}
	}

	&__restart {
		width: 246px;
		height: 50px;
		font-size: 24px;
		background: #7ac100;
		border-radius: 12px;
		padding-bottom: 5px;
		color: white;
		z-index: 20;
	}
}

.playfield {
	display: grid;
	grid-gap: 15px;
	padding-top: 20px;

	&__card-box {
		align-items: center;
		display: flex;
		flex-flow: row wrap;
		flex-grow: 1;
		gap: 15px;
		justify-content: center;
	}
}

.card {
	height: 133px;
	width: 95px;
	position: relative;
	perspective: 800px;

	&__front,
	&__back {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: 0.7s;
		backface-visibility: hidden;
	}

	&__front {
		pointer-events: none;

		&--shirt {
			transform: rotateY(-180deg);
		}
	}

	&__back {
		transform: rotateY(-180deg);

		&--shirt {
			transform: rotateY(-360deg);
		}
	}
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(#000, 30%);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;

	&__content-box {
		height: 480px;
		width: 459px;
		background: #c2f5ff;
		color: #004980;
		border-radius: 12px;
		padding: 32px 0 48px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__img {
		width: 91px;
		height: 91px;
	}

	&__title {
		font-size: 40px;
	}

	&__time {
		font-size: 64px;

		&-title {
			font-size: 24px;
		}

		&-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 10px;
			color: black;
		}
	}
}

.hover-scale {
	transition: 0.15s transform;
	cursor: pointer;

	&:hover {
		transform: scale(1.04);
	}
}

.blocker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-top: 7%;

	&__message {
		color: #fff;
		font-size: 42px;
	}
}

.alert {
	position: absolute;
	top: 10%;
	margin: 0 auto;
	padding: 30px;
	border-radius: 12px;
	background-color: #f44;
	display: flex;
	justify-content: center;
	align-items: center;

	&__message {
		color: #fff;
		font-size: 1.5rem;
	}
}
