.start-screen {
	&__difficult-box {
		display: flex;
		gap: 24px;
	}

	&__start-button {
		width: 246px;
		height: 50px;
		line-height: 50px;
		background: #7ac100;
		color: #fff;
		font-size: 24px;
		border-radius: 12px;
	}
}
